.container
	.row
		.col-md-6.col-md-offset-3
			%ul.nav.nav-tabs.nav-justified
				%li
					%a{href: user_liquors_path} 
						Liquors
				%li
					%a{href: user_mixers_path} 
						Mixers
				%li.active
					%a{href: user_liqueurs_path}
						Liqueurs
				%li
					%a{href: "#"} 
						Recipes
%br