:css
	html { 
		background: src(/cocktail_final.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
= image_tag('cocktail-final_blur.jpg', class: "splashback")
.splashback
	%br
	%br
	asldfj