/ :javascript
/ 	document.documentElement.className += "splashback";
.splashback
.container
	.row
		.col-sm-5.col-md-4
			%h1.splashtext.splashheader
				LiQo 
				%small (lee - ko)
				
			- if user_signed_in?
				%a.button#site-contine{href: user_liquors_path(current_user)} Continue onto the Site!