.container
	.row
		.col-md-6.col-md-offset-3
			%ul.nav.nav-tabs.nav-justified
				%li.active.liquors
					%a{href: user_liquors_path} liquors
				%li
					%a{href: user_mixers_path} Mixers
				%li
					%a{href: user_liqueurs_path} liqueurs
				%li
					%a{href: "#"} Recipes
%br