.container
	.row
		.col-md-6.col-md-offset-3
			%ul.nav.nav-tabs.nav-justified
				%li.active.liquors
					%a{href: "#"} Liquors
				%li
					%a{href: "#"} Mixers
				%li
					%a{href: "#"} Recipes
%br