.ingredientback
= render 'nav_tabs'
%br

.container
	.row
		- @liquors.each do |i|
			- if current_user.ingredients.liquors.include?(i)
				.col-xs-6.col-md-3
					.panel.panel-default.panel-winning
						.panel-heading
							%h3.panel-title= i.name
						.panel-body
							=link_to(image_tag(i.avatar, :class => "thumbnail"), user_liquor_path(:id =>i.id), :method => :delete)
							
						.panel-footer See more Info				
			
			- else
				.col-xs-6.col-md-3
					.panel.panel-default#panel-back
						.panel-heading.panel-front-hf
							%h3.panel-title= i.name
						.panel-body.panel-front-body
							=link_to(image_tag(i.avatar, :class => "thumbnail"), user_liquors_path(:id =>i.id), :method => :post)
							
						.panel-footer.panel-front-hf See more Info
//
/ user_liquors = current_user.ingredients.liquors
/ liquors = Ingredient.liquors
/ shared_liquors = user_liquors & liquors
//