.ingredientback
= render 'nav_tabs'
%br

.container
	.row
		- @mixers.each do |i|
			- if current_user.ingredients.mixers.include?(i)
				.col-xs-6.col-md-3
					.panel.panel-success
						.panel-heading
							%h3.panel-title= i.name
						.panel-body
							=link_to(image_tag(i.avatar, :class => "thumbnail"), user_mixer_path(:id =>i.id), :method => :delete)
							
						.panel-footer See more Info				
			
			- else
				.col-xs-6.col-md-3
					.panel.panel-default
						.panel-heading
							%h3.panel-title= i.name
						.panel-body
							=link_to(image_tag(i.avatar, :class => "thumbnail"), user_mixers_path(:id =>i.id), :method => :post)
							
						.panel-footer See more Info
//
/ user_liquors = current_user.ingredients.liquors
/ liquors = Ingredient.liquors
/ shared_liquors = user_liquors & liquors
//