/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= bootstrap
 *= main
 *= require_tree .
 *= require_self
 */
.splashback {
  background: url("cocktail-final_blur.jpg") no-repeat center center fixed; 
  min-height: 100%;
  min-width: 1600px;
  
  width: 100%;
  height: auto;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1600px) {
  .splashback {
    left: 50%;
    margin-left: -800px;   
  }
}
.ingredientback {
  background: url("wood_background_radius.jpeg") no-repeat center center fixed; 
  min-height: 100%;
  min-width: 1600px;
  
  width: 100%;
  height: auto;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1600px) {
  .ingredientback {
    left: 50%;
    margin-left: -800px;   
  }
}
.thumby-text {
  color: gray; 
}
.logged-header {
  color: #E6E4E4;
}
.splashtext {
	color: azure;
}
.splashheader {
  text-align: center;
}
.recipe-text {
  color: darkslategrey !important;
 }
 .body-success {
  background-color: red;
 }
#panel-back {
/*  opacity: .75;
    box-shadow: 2px 2px 6px #4C4A4A;*/
  /*box-shadow: 5px 7px 6px #4C4A4A;*/
  background-color: lightgrey;
 }
.panel-front-body {
  opacity: .4;
  background-color: whitesmoke;
  /*box-shadow: 5px 7px 6px #4C4A4A;*/
  /*background-color: purple;*/
  
 }
.panel-front-hf {
  opacity: .6;
  background-color: lightgrey !important;
 }
.panel-winning {
  box-shadow: 5px 7px 6px #4C4A4A;
}

